<!doctype html>
<!--
███████ ██      ███████ ██   ██ ██ ██████   █████  ███████ ██   ██
██      ██      ██       ██ ██  ██ ██   ██ ██   ██ ██      ██   ██
█████   ██      █████     ███   ██ ██   ██ ███████ ███████ ███████
██      ██      ██       ██ ██  ██ ██   ██ ██   ██      ██ ██   ██
██      ███████ ███████ ██   ██ ██ ██████  ██   ██ ███████ ██   ██

FlexiDash - a modern, powerful web panel for easy management of a wide range of
hosted services.

GitHub: https://github.com/flexidashgg
Discord: https://flexidash.lucat.lol/r/discord

Acknowledgements:
- Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
    - Using version 1.0.0-beta19.
    - Link: https://tabler.io
    - Copyright The Tabler Authors
-->

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <title>Select an Instance | FlexiDash Desktop</title>

    <!-- Tabler CSS -->
    <link href="../static/css/tabler.min.css" rel="stylesheet" />

    <!-- Tabler Icons CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">

    <style>
        @import url('https://rsms.me/inter/inter.css');
        :root {
            --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        }
        body {
            font-feature-settings: "cv03", "cv04", "cv11";
        }
    </style>
</head>

<body class="d-flex flex-column">
    <div class="page page-center">
        <div class="container container-tight py-4">
            <div class="text-center mb-4">
                <h1>FlexiDash Desktop</h1>
            </div>

            <div id="alert-div" style="display: none;" class="alert alert-success" role="alert">
                <span id="alert-text"></span>
            </div>

            <div class="card card-md">
                <div class="card-body">
                    <h2 class="h2 text-center mb-4">Welcome back.</h2>
                    <div class="mb-2">
                        <label class="form-label">
                            Instance URL
                            <span class="form-label-description">
                                <a href="https://docs.flexidash.lucat.lol/desktop/introduction" target="_blank">What is this?</a>
                            </span>
                        </label>
                        <div class="input-group input-group-flat">
                            <input id="form_url" type="url" class="form-control" placeholder="https://my.flexidash.gg" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-footer">
                        <button id="form_submit" type="submit" class="btn btn-primary w-100">Go to Instance</button>
                    </div>
                </div>
            </div>
            <div class="text-center text-muted mt-3">
                FlexiDash Desktop is an easy way to access your FlexiDash instance.
                Simply enter the URL you normally use on your browser, and you'll be sent to FlexiDash.
                The URL is saved for future use.
            </div>
        </div>
    </div>

    <!-- Authentication script -->
    <script>
        const alertDiv = document.getElementById('alert-div');
        const alertText = document.getElementById('alert-text');

        function startFlow(provider = null) {
            alertDiv.style.display = 'none';
            alertDiv.classList.remove('alert-success', 'alert-danger');
            alertText.textContent = '';

            document.getElementById(provider + '-spinner').style.display = 'block';

            const popupWidth = 515; // Set the width of the popup window
            const popupHeight = 700; // Set the height of the popup window

            // Calculate the center coordinates of the screen
            const screenWidth = window.screen.width;
            const screenHeight = window.screen.height;
            const centerX = (screenWidth - popupWidth) / 2;
            const centerY = (screenHeight - popupHeight) / 2;

            // Open the popup window and position it at the center
            const popupWindow = window.open('/auth/login/start/' + provider, 'Redirecting... | Luca Hosting', `width=${popupWidth},height=${popupHeight},left=${centerX},top=${centerY}`);

            // Check if the popup window was blocked by the browser's popup blocker
            if (!popupWindow || popupWindow.closed || typeof popupWindow.closed === 'undefined') {
                document.getElementById(provider + '-spinner').style.display = 'none';
                alert('Popup window was blocked or closed.');

                alertText.textContent = 'The pop-up window was closed or blocked by your browser.';
                alertDiv.classList.add('alert-danger');
                alertDiv.style.display = 'block';

                clearInterval(popupInterval);
            }

            const popupInterval = setInterval(() => {
                if (popupWindow.closed) {
                    document.getElementById(provider + '-spinner').style.display = 'none';

                    alertText.textContent = 'The pop-up window was closed or blocked by your browser.';
                    alertDiv.classList.add('alert-danger');
                    alertDiv.style.display = 'block';

                    clearInterval(popupInterval);
                }
            }, 1000);

            // Add an event listener to receive the posted message
            window.addEventListener('message', (e) => {
                if (e.origin !== window.location.origin) return;

                document.getElementById(provider + '-spinner').style.display = 'none';

                clearInterval(popupInterval);

                const data = e.data;
                console.log(data);

                if (data.authSuccess) {
                    alertText.textContent = 'Success! Redirecting you...';
                    alertDiv.classList.add('alert-success');
                    alertDiv.style.display = 'block';

                    let url = new URLSearchParams(window.location.search);
                    console.log(url);
                    if (url.has('return')) return window.location.href = url.get('return');

                    return window.location.href = '/';
                } else {
                    alertText.textContent = data.error;
                    alertDiv.classList.add('alert-danger');
                    alertDiv.style.display = 'block';
                }
            });
        }
    </script>

    <!-- Tabler JS -->
    <script src="../static/js/tabler.min.js" defer></script>

    <!-- FlexiDash Scripts -->
    <script src="../scripts/renderer.js"></script>
</body>