<!doctype html>
<!--
███████ ██      ███████ ██   ██ ██ ██████   █████  ███████ ██   ██
██      ██      ██       ██ ██  ██ ██   ██ ██   ██ ██      ██   ██
█████   ██      █████     ███   ██ ██   ██ ███████ ███████ ███████
██      ██      ██       ██ ██  ██ ██   ██ ██   ██      ██ ██   ██
██      ███████ ███████ ██   ██ ██ ██████  ██   ██ ███████ ██   ██

FlexiDash - a modern, powerful web panel for easy management of a wide range of
hosted services.

GitHub: https://github.com/flexidashgg
Discord: https://flexidash.lucat.lol/r/discord

Acknowledgements:
- Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
    - Using version 1.0.0-beta19.
    - Link: https://tabler.io
    - Copyright The Tabler Authors
-->

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <title>Select an Instance | FlexiDash Desktop</title>

    <!-- Tabler CSS -->
    <link href="../static/css/tabler.min.css" rel="stylesheet" />

    <!-- Tabler Icons CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">

    <style>
        @import url('https://rsms.me/inter/inter.css');
        :root {
            --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        }
        body {
            font-feature-settings: "cv03", "cv04", "cv11";
        }
    </style>
</head>

<body class="d-flex flex-column">
    <div class="page page-center">
        <div class="container container-slim py-4">
            <div class="text-center">
                <div class="mb-3">
                    <h1>FlexiDash Desktop</h1>
                </div>
                <div class="text-muted mb-3">
                    Loading your instance...
                </div>
                <div class="progress progress-sm">
                    <div class="progress-bar progress-bar-indeterminate"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tabler JS -->
    <script src="../static/js/tabler.min.js" defer></script>

    <!-- FlexiDash Scripts -->
    <script src="../scripts/renderer.js"></script>
</body>